@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 62 to 125

.archivo-<uniquifier> {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" <width>;
  }

header {
    width: 1280px;
    height: 56px;
    background-color: ;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    width: 640px;
}

#navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#navigation li {

}

main {
    width: 1280px;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
}

main section {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#sobre-mi {
    height: 774px;
    background-color: ;
    padding: 24px 0px;
}


#language {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#language ul {
    width: 200px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#language li {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#sobre-mi div {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#sobre-mi p {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#experiencia {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#experiencia div {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

.previous-exp {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

.previous-exp ul {
    padding-left: ;
}

#portfolio {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#portfolio div {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

.work-thumbnail {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#herramientas {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#formacion {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

#formacion div {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

.education {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

footer {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

footer div {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

.contact-info {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

.social-media {
    width: ;
    height: ;
    background-color: ;
    padding: ;
}

h1 {
    font-family: "Archivo", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 90pt;
}

h2 {
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 60pt;
}

h3 {
    font-family: "Archivo", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 48pt;
}

h4 {
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 34pt;
}

h5 {
    font-family: "Archivo", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 24pt;
}

h6 {
    font-family: "Archivo", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 18pt;
}


p {
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt;
}

a p {
    font-weight: ;
    font-size: ;
    color: ;

}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}