@charset "utf-8";
/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <width>: Use a value from 62 to 125

.archivo-<uniquifier> {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" <width>;
  }

  html {
    background-color:; 
    width: 100vw;
    height: 100vh;
    font-family: "Archivo", sans-serif;
    font-style: normal;
    scrollbar-width: none; //2) Al final en lugar de webkit scrollbar, use esto. No se si hay otra manera. Igualmente voy a buscar la manera de personalizar una scrollbar
} 

// ::-webkit-scrollbar {display: none;} 
//1) quiero ocultar la barra de scroll vertical o excluirla del ancho total de la página porque me pisa el contenido, pero si uso esta propiedad me desactiva la funcionalidad de scroll horizontal que tengo en la section portfolio

body {
    min-height: 100vh;
    width: 100%;
    background-color: #A7C6D9; 
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 10vh;
    //background-color: ;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navigation {
    width: 50%;
}

#navigation ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

// #navigation li {}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

main section {
    display: flex;
    flex-direction: column;
}

#sobre-mi {
    height: 90vh;
    //background-color: ;
    padding: 24px 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1vh;
}

//#language { width: ;height: ;background-color: ;padding: ; }

#language ul {
    width: 100vw;
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
}

//#language li { width: ; height: ; background-color: ; padding: ;}

#sobre-mi article {
    display: flex;
    flex-direction: column;
    align-items: strech;
    gap: 5vh;
}

#sobre-mi article div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: strech;
    gap: 0vh;
}

#sobre-mi p {
    width: 40%;
    //height: ;
    background-color: ;
}

#sobre-mi div {
    //height: ;
    width: 100%;
    display: flex;
    justify-content: center;
    //background-color: ;
    //padding: ;
}

#experiencia {
    width: 100%;
    height: 75vh;
    background-color: #184059;
    //padding: ;
    padding: 24px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

#experiencia div {
    width: 100%;
    //height: ;
    //padding: ;
    display: flex;
    
}

#experiencia h3 {
    color: white
}

#experiencia h4 {
    color: white
}

#experiencia h5 {
    color: white
}

#experiencia li {
    color: white
}

.previous-exp {
    //width: ;
    //height: ;
    //background-color: ;
    //padding: ;
    flex: 1;
}

//.previous-exp ul {
    padding-left: ;}

#portfolio {
    width: 100%;
    height: 100vh;
    background-color: #3A6784;
    padding: 2vh 3vw ;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    gap: 3vw;
}

#portfolio h4 {
    color: white;
}

#portfolio h5 {
    color: white;
}

.work-thumbnail {
    width: 385px;
    height: 500px;
    background-color: ;
    //padding: ;
}

#herramientas {
    width: 100%;
    height: 60vh;
    //background-color: ;
    //padding: ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#formacion {
    width: 100%;
    height: 75vh;
    //background-color: ;
    //padding: ;
    padding: 24px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

#formacion div {
    width: 100%;
    //height:;
    //background-color: ;
    //padding: ;
    display: flex;
}

.education {
    //width: ;
    //height: ;
    //background-color: ;
    //padding: ;
    flex-direction: column;
}

footer {
    width: 100vw;
    height: 600px;
    //background-color: ;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
}

footer div {
    width: 100%;
    height: 56px;
    margin: 20px 0px;
    //background-color: ;
    //padding: ;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

footer div h6 {
    margin: 15px;
}

//.contact-info {
    width: ;
    height: ;
    background-color: ;
    padding: ;}

.contact-info a {
    display: flex;
    align-items: center;
}

.contact-info p {
    margin: 15px;
}

.social-media {
    width: 100%;
    height: 200px;
    //background-color: ;
    //padding: ;
    justify-content: center;
}

.social-media a {
    margin: 10px;
}

h1 {
    font-weight: 100;
    font-size: 5em;
}

h2 {
    font-weight: 100;
    font-size: 2.5em;
}

h3 {
    font-weight: 400;
    font-size: 2em;
}

h4 {
    font-weight: 400;
    font-size: 1.5em;
}

h5 {
    font-weight: 300;
    font-size: 1.3em;
}

h6 {
    font-weight: 450;
    font-size: 1.1em;
}


p {
    font-weight: 400;
    font-size: 1.1em;
}

//a p {
    font-weight: ;
    font-size: ;
    color: ;}

li {
    list-style-type: none;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: black;
}